# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
coverage/

# Don't include the compiled plugin bundle or the fetch-title CLI bundle.
# They should be uploaded to GitHub releases (plugin) / used locally (CLI) instead.
dist/

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
.obsidian/*
